* { cursor: none; }

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}

#timer {
  position: absolute;
  z-index: 9999;
  right: 0;
  margin-right: 4rem;
  width: 4rem;
  text-align: center;
}

.screens {
  width: 80%;
  height: 80%;
  margin: auto;
  position: absolute;
  z-index: 999;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.saboteur_icons {
  position: absolute;
}

.sab_icon_div {
  position: absolute;
  z-index: 99;
}

.sab_icon_div_0 {
  margin-top: 13rem;
  margin-left: 2rem;
}

.sab_icon_div_1 {
  margin-top: 37rem;
  margin-left: 2rem;
}

.sab_icon_div_2 {
  margin-top: 37rem;
  margin-left: 87rem;
  transform: scale(-1, 1);
}

.sab_icon_div_3 {
  margin-top: 13rem;
  margin-left: 87rem;
  transform: scale(-1, 1);
}

.sab_icon {
  width: 3rem;
  position: absolute;
  transform: rotate(90deg);
}

.finger {
  margin-left: 5rem;
  margin-top: -0.8rem;
  animation: finger_anim 1s ease-out infinite alternate-reverse;
}

@keyframes finger_anim {
  from { margin-left: 3rem; }

  ,
  to { margin-left: 4rem; }
}
